<div class="container my-5" *ngIf="isAdmin && isLoggedIn">
    <h3 class="text-center mt-5">Admin Page</h3>
    <table class="table table-hover table-light my-5">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th class="text-center">Image</th>
                <th class="text-center">Price ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <th class="text-center">{{p.id}}</th>
                <td>{{p.title}}</td>
                <td width=15% class="text-center">
                    <img loading="lazy" class="product-img" [src]="p?.image" width="100%">
                </td>
                <td class="text-center">{{p.price}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class=" text-center" *ngIf="!isAdmin && isLoggedIn">
    <div class="alert alert-danger">
        You don't have permission to access this page!
    </div>
    <div style="cursor:pointer">
        <u routerLink="/home">Back to Home</u>
    </div>
</div>