.product-list {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(353px, 0fr));
    grid-column-gap      : 1.5rem;
    grid-row-gap         : 1.5rem;

    max-width: 1170px;

    margin: 0 auto;

    .product-img-container {
        max-width: 350px;

        img.product-img {
            display   : block;
            max-width : 100%;
            min-height: 12rem;
            transition: var(--mainTransition);
        }

        &:hover img.product-img {
            cursor : pointer;
            opacity: 0.9;
        }

        .product-name:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product-list {
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-column-gap      : .75rem;
        grid-row-gap         : .75rem;

        .product-img-container {
            max-width: 250px;
        }
    }
}